body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#unassigned-cat {
  background-color: #bcffdd;
}

nav a {
  display: inline-block;
  /* margin: 1em; */
}

#tut-skip {
  position: absolute;
  right: 0px;
  bottom: 100px;
  padding: 10px 25px 10px 10px;
  border-radius: 15px 0 0 15px;
  background-color: #93e9be;
  color: white;
}

nav {
  width: 100%
}

#tutorial {
  position: fixed;
  z-index: 2;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.25);
}

#tut-panel {
  position: absolute;
  border: 3px solid #93e9be;
  background-color: white;
  text-align: center;
  padding: 5px;
}

.slide-one {
  top: 40vh;
  left: 10vw;
  width: calc(80vw - 6px);
}

.slide-two {
  top: 95px;
  left: 95px;
}

.slide-three {
  right: 20px;
  top: 20px;
  width: 60vw;
}

.tut-button {
  color: white;
  background-color: #93e9be;
  border-radius: 15px;
  cursor: pointer;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

.tut-highlight {
  border: 5px solid red;
  position: absolute;
  z-index: 2;
}

.my-info-light {
  top: 20px;
  left: 215px;
  width: 100px;
  height: 50px;
}

#links {
  height: 100%;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#links a {
  margin-left: 50px;
}

.nav-button {
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.insight-button {
  display: flex !important;
  gap: 6px
}

.insight-button>div {
  color: #93e9be;
  background-color: white;
  height: 18px;
  width: 18px;
  min-width: 18px;
  border-radius: 50%;
}

.insight-button>div>h3 {
  margin: 0 auto;
}

.nav-button:hover {
  border: 1px solid white;
  border-radius: 10px;
  padding: 9px;
}

.disabled {
  display: none;
}

.custom-date-range {
  display: flex;
}

button:disabled {
  background-color: red;
}

#export-buttons {
  background-color: #93e9be;
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 5px;
}

#export-buttons>.nav-button {
  margin: 0;
}

#links div {
  display: flex;
  align-items: center;
}

#logout-button {
  margin-left: auto !important;
}

form>div {
  margin: 1em;
  display: inline-block;
}

#page {
  margin-top: 120px;
}

#nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  background-color: #93e9be;
  z-index: 1;
  height: 100px;
}

#nav path {
  fill: white;
}

#nav svg {
  width: 100px;
  height: 100px;
}

#nav #name {
  color: white;
}

.daily {
  border-radius: 20px;
  display: flex;
  width: 90%;
  margin: 10px auto 10px auto;
  border: 3px solid #93e9be;
  position: relative;
}

.daily .dailyContents {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.dailyName {
  width: 20%;
}

.dailyAmount,
.dailyDate {
  width: 10%;
}

.dailyCat {
  background-color: #93e9be;
  border-radius: 15px 0px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  top: -10;
  left: 0;
  margin: 0px;
}

.daily button.del {
  position: absolute;
  top: 0;
  right: 0;
}

.daily button.edit {
  position: absolute;
  bottom: 0;
  right: 0;
}

.user-story {
  border-top: 5px dotted #93e9be;
  margin-top: 10px;
}

.user-story.first {
  border-top: none;
}

.user-story span {
  color: #93e9be;
}

.user-items {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
}

#legend {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.legend-section {
  display: flex;
  gap: 5px;
}

.legend-section p {
  margin: 0;
}

.legend-section square {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

#pie-slice-info {
  width: 80%;
  margin: 25px auto 0 auto;
  border: 5px solid #93e9be;
  border-radius: 15px;
  padding: 5px;
}

#bulk-upload, #bulk-export {
  width: 75%;
  margin: 0px auto 40px auto;
  border: 5px solid #93e9be;
  border-radius: 15px;
}

#bulk-upload h1, #bulk-export h1 {
  margin-top: 0px;
  padding-top: 20px;
  background-color: #93e9be;
}

#bulk-upload h2, #bulk-export h2 {
  background-color: #93e9be;
}

#bulk-upload img {
  width: 90%;
  margin-left: calc(5% - 5px);
  margin-right: calc(5% - 5px);
  border: 5px solid #93e9be;
  border-radius: 15px;
}

#bulk-upload p, #bulk-export p {
  text-align: justify;
  padding: 0px 15px 0px 15px;
}

.user-items div {
  flex: 1 0 20%;
  background-color: #93e9be;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#summaries {
  display: flex;
  width: 90%;
  margin: 10px auto 10px auto;
  border: 5px solid #93e9be;
  padding: 10px;
  gap: 2%;
  border-radius: 15px;
  flex-wrap: wrap;
  background-color: white;
}

.summary {
  flex: 1 0 22%;
  background-image: linear-gradient(to bottom, white, #93e9be);
  border-radius: 15px;
  border: 5px solid #93e9be;
  margin-bottom: 10px;
}

.summary.total {
  border: 5px solid #72b895;
}

.summary h3 {
  text-align: center;
}

.summary h3.warning {
  color: red;
}

.chart-container {
  width: 90%;
  border: 5px solid#93e9be;
  margin: 20px auto 40px auto;
  border-radius: 15px;
}

#home-chart-header, #month-chart-header, #info-chart-header {
  background-color: #93e9be;
  padding: 10px;
}

#month-chart-header>div {
  display: flex;
  gap: 5px;
  align-items: center;
}

#month-chart-header>div>* {
  margin: 0;
  height: fit-content
}

#info-chart {
  display: flex;
}

#info-chart>* {
  flex: 0 0 50%;
  width: 50%;
}

#recent-purchases, #monthly-purchases {
  width: 90%;
  margin: 0px auto 40px auto;
  border: 5px solid#93e9be;
  border-radius: 15px;
  padding: 0px 0px 10px 0px;
}

#recent-purchases>h2, #monthly-purchases>div#monthly-purchases-header {
  margin: 0px;
  background-color: #93e9be;
  padding: 10px;
}

#monthly-purchases>div#monthly-purchases-header {
  display: flex;
  justify-content: space-between;
}

@keyframes loadSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInAndRiseScootLeft {
  0% {
    opacity: 0%;
    transform: translate(80%, 10%);
  }
  33% {
    opacity: 100%;
    transform: translate(80%, 0%);
  }
  66% {
    transform: translate(80%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  66% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeInAndRiseDelay {
  0% {
    opacity: 0%;
    transform: translate(0%, 10%);
  }
  66% {
    opacity: 0%;
    transform: translate(0%, 10%);
  }
  100% {
    opacity: 100%;
    transform: translate(0%, 0%);
  }
}

@keyframes navOpen {
  0% {
    height: 0vh;
  }
  100% {
    height: calc(100vh - 96.5px);
  }
}

@keyframes navClose {
  0% {
    height: calc(100vh - 96.5px);;
  }
  100% {
    height: 0%;
  }
}

#landscape-alert {
  width: 100%;
  text-align: center;
}

#logo-container {
  margin-top: 30%;
  display: flex;
  transition: opacity 500ms;
}

#logo-container h1 {
  color: #93e9be;
  margin: 7vw 0 0 -1vw;
  font-size: 5vw;
  animation: 2s ease-out 0s 1 fadeIn;
}

#login {
  width: 40%;
  margin: 25px auto 25px auto;
}

.form {
  background-color: #93e9be;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

.form.add-daily-form {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 10px;
}

.add-daily-form h1 {
  margin: auto;
  width: 35%;
}

.add-daily-form form {
  margin: auto;
  width: 50%;
}

.form.loginForm {
  animation: 3s ease-out 0s 1 fadeInAndRiseDelay;
  color: white;
}

button {
  background-color: white;
  border-radius: 10px;
  transition: 0.4s;
}

button:hover {
  box-shadow: 10px 5px 5px gray;
}

.month-chart {
  padding: 3vh 5vw;
  display: flex;
  flex-wrap: wrap;
  gap: 3% 3%;
}

.month {
  flex: 0 0 calc(22.75% - 8px);
  border: 4px solid #93e9be;
  margin-bottom: 3vh;
  border-radius: 10px;
  transition: 0.4s;
}

.month h1 {
  color: #93e9be;
  text-align: center;
}

.month.no-dailies {
  border: 4px solid lightgray;
}

.month.no-dailies h1 {
  color: lightgray;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
}

.square {
  flex: 0 0 calc(33.3333333333% - 2px);
  border-top: 2px solid #93e9be;
  border-right: 2px solid #93e9be;
  height: 45px;
}

.square.end {
  border-right-width: 0px;
  flex: 0 0 33.3333333333%;
}

.month.no-dailies .square {
  border-color: lightgray;
}

.month:hover {
  font-weight: bold;
  box-shadow: 10px 5px 5px lightgray;
}

.year>h1 {
  text-align: center;
  font-size: 50px;
  background-color: #93e9be;
  color: white;
}

#welcome {
  background-color: #93e9be;
  width: 90%;
  margin: 40px auto;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}

#home-links {
  display: flex;
  justify-content: space-around;
  margin: 10px 10vw;
}

#footer {
  background-color: #93e9be;
  width: 100%;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0px;
}

#footer>h3 {
  margin: 0px;
}

#status {
  display: flex;
  margin-bottom: 10px;
  width: fit-content;
  margin: auto;
}

#status>h2 {
  margin: 0px 5px;;
}

#exc {
  border-radius: 50%;
  border: 3px solid white;
  height: 3vh;
  width: 3vh;
  min-width: 3vh;
  color: white;
  text-align: center;
  font-size: 2.5vh;
}

#month-overview {
  width: 90%;
  margin: auto;
  background-color: #93e9be;
  border-radius: 15px;
  padding: 15px;
}

#month-header, #budget-history-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.arrow {
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

#budget-history-header .arrow {
  border: 3px solid #93e9be;
  border-radius: 10px;
  color: #93e9be;
  padding: 5px;
}

/* #bulk-export {
  width: 80%;
  margin: auto;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #93e9be;
  padding: 10px;
} */

#export-form {
  display: flex;
  height: fit-content;
}

#export-form>p {
  margin: 0px;
}

#export-form>input {
  margin: 0px 10px;
}

#loading-screen-container {
  position: relative;
}

#loading-screen {
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 10px 10px;
}

#loading-screen h2 {
  text-align: center;
  margin-top: 20%;
}

#loading-screen img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 8vh;
  animation: 1s linear infinite loadSpin;
}

#home-link {
  display: flex;
}

.toggle-switch {
  background-color: white;
  height: 20px;
  width: 30px;
  border-radius: 10px;
  display: flex;
}

.toggle-container {
  display: flex;
}

.toggle-off, .toggle-on {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #93e9be;
  margin: 1px auto 0 1px;
}

@keyframes turnOn {
  0% {
    translate: 0px;
  }
  100% {
    translate: 10px;
  }
}

@keyframes turnOff {
  0% {
    translate: 10px;
  }
  100% {
    translate: 0px;
  }
}

.toggle-off {
  animation: turnOff 0.3s;
}

.toggle-on {
  animation: turnOn 0.3s;
  translate: 10px;
}

.custom-date-range {
  margin: 10px 0px;
  gap: 10px;
  align-items: center;
}

.custom-date-range>p {
  margin: 0;
}

.no-op {
  opacity: 0.5;
  pointer-events: none;
  transition: 0.5s;
}

.track-month {
  border: 1px solid lightgray
}

.track-month {
  width: calc(100% / 12);
  height: 100px;
}

.history-section {
  border-spacing: 0;
  width: 100%;
  margin-bottom: 20px;
  position: relative
}

.expense-track {
  position: relative;
}

.expense-on-track {
  position: absolute;
  height: 90px;
  width: 90px;
  top: 7px;
  background-color: rgba(147, 233, 190, 0.8);
  border-radius: 15px;
}

#time-marker {
  position: absolute;
  width: 3px;
  background-color: red;
  height: calc(100% - 20px);
  top: 20px;
  opacity: 0.5;
}

.expense-on-track>h3, .expense-on-track>p {
  margin: 5px;
}

#edit-form {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#edit-form>h1 {
  margin: auto 0 auto 0;
  font-size: 10vw;
  color: #93e9be;
}

.edit-card {
  flex: 0 0 40%;
  background-color: #93e9be;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.edit-card-header {
  text-align: center;
}

.edit-card-rule {
  margin: 0;
  display: flex;
}

.edit-card>.edit-card-field {
  flex: 0 0 5vh;
  margin: 0;
  padding: 0;
}

.edit-card-field>* {
  margin: 0;
  padding: 0;
}

.edit-card-rule>* {
  height: fit-content;
}

.edit-card-field {
  display: flex;
  align-items: center;
}

.insight-headline {
  display: flex;
  align-items: center;
}

.insight-headline>h2 {
  margin: 0;
}

.insight-headline>img {
  width: 62px;
  height: 62px;
}

.insight-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#overspents {
  border: 4px solid #ff4747;
  border-radius: 15px;
  margin: 10px;
}

#overspents>p {
  color: white;
  background-color: #ff4747;
  margin-top: 0px;
  font-weight: bold;
  padding: 7px 0;
}

#underspents, #averages {
  border: 4px solid #93e9be;
  border-radius: 15px;
  margin: 10px;
}

#underspents>p, #averages>p {
  color: white;
  background-color: #93e9be;
  margin-top: 0px;
  font-weight: bold;
  padding: 7px 0;
}

.underspent {
  border-radius: 15px;
  background-image: linear-gradient(to bottom, white, #c8f6df);
  margin: 8px;
}

.overspent {
  border-radius: 15px;
  background-image: linear-gradient(to bottom, white, #fc9797);
  margin: 8px;
}

.insight-details {
  width: 100%;
}

.insight-details th {
  width: 25%;
}

.insight-details td {
  text-align: center;
}

#average-box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.cat-average {
  margin: 5px;
  text-align: center;
  flex: 0 0 calc(20% - 16px);
  border: 3px solid gray;
  background-image: linear-gradient(to bottom, white, gray);
  border-radius: 15px;
}

.cat-average.under-average {
  border-color: #93e9be;
  background-image: linear-gradient(to bottom, white, #93e9be);
}

.cat-average.over-average {
  border-color: #fc9797;
  background-image: linear-gradient(to bottom, white, #fc9797);
}

#nav-hamburger {
  height: 50px;
  margin: 12.5px;
}

#mobile-nav {
  position: fixed;
  top: 75px;
  background-color: #93e9be;
  width: 100vw;
  z-index: 1;
}

#mobile-nav.open-nav {
  animation: 0.5s ease-out 0s 1 navOpen;
  height: calc(100vh - 96.5px);
}

#mobile-nav.closed-nav, #mobile-nav.unopened-nav {
  height: 0px;
}

#mobile-nav.closed-nav {
  animation: 0.5s ease-out 0s 1 navClose;
}

.closed-nav .mobile-nav-button, .unopened-nav .mobile-nav-button {
  display: none !important;
}

#mobile-nav>div {
  margin-top: 7vh;
}

.open-nav .mobile-nav-button {
  animation: 0.4s ease-out 0s 1 fadeIn;
}

.mobile-nav-button.insight-button {
  justify-content: center;
}

.mobile-nav-button.insight-button>div {
  height: 22px;
  width: 22px;
  min-width: 22px;
}

.mobile-nav-button.insight-button>div>h3 {
  font-size: 22px;
}

#main-logo {
  width: 15vw;
  height: 15vw;
  animation: 2s ease-out 0s 1 fadeInAndRiseScootLeft;
}

.insight-buttons {
  display: flex;
  position: relative;
}

.question {
  width: 20px;
  height: 20px;
  color: gray;
  border: 3px solid gray;
  border-radius: 50%;
  text-align: center;
}

.mobile-nav-button {
  display: block;
  width: 70vw;
  text-align: center;
  border-top: 2px solid white;
  color: white;
  font-weight: bold;
}

.explanation {
  position: absolute;
  top: 100%;
  right: 0px;
  background-color: gray;
  color: white;
  width: max-content;
  padding: 2px;
  border-radius: 2px;
}

@media only screen and (max-width: 1000px) {
  .mobile-nav-button {
    margin: 5px 15vw 0 15vw;
    font-size: 20px;
    padding: 1vh 0 1vh 0;
  }

  .cat-average{
    flex: 0 0 calc(33.33333% - 16px);
  }

  .question {
    display: none;
  }

  #nav svg {
    height: 75px;
    width: 75px;
  }

  #name {
    height: 50px;
    margin: 12.5px 0 12.5px 0;
  }

  #nav {
    height: 75px;
  }

  #nav nav {
    display: flex;
    justify-content: right;
  }

  #page {
    margin-top: 95px;
  }

  #mobile-nav>div {
    margin-top: 3vh;
  }

  #login {
    width: 80%;
    margin: -150px auto 25px auto;
  }

  .user-items div {
    flex: 1 0 25%;
  }

  .month {
    flex: 0 0 calc(31.33333% - 8px);
    font-size: 15px;
    /* margin-bottom: 3vh; */
  }

  .summary {
    flex: 1 0 30%;
  }

  @media only screen and (max-width: 480px) {
    .mobile-nav-button {
      display: block;
      width: 70vw;
      margin: 5px 15vw 0 15vw;
      text-align: center;
      font-size: 22px;
      border-top: 2px solid white;
      color: white;
      font-weight: bold;
      padding: 3vh 0 3vh 0;
    }

    .summary {
      flex: 1 0 40%;
    }

  .user-items div {
    flex: 1 0 35%;
  }

    #nav svg {
      height: 75px;
      width: 75px;
    }

    #name {
      height: 50px;
      margin: 12.5px 0 12.5px 0;
    }

    #nav {
      height: 75px;
    }

    #nav nav {
      display: flex;
      justify-content: right;
    }

    #page {
      margin-top: 95px;
    }

    #login {
      margin: -30px auto 25px auto;
    }

    #main-logo {
      width: 30vw;
      height: 30vw;
    }

    #logo-container h1 {
      margin: 14vw 0 0 -2vw;
      font-size: 10vw;
    }

    .form.add-daily-form {
      flex-direction: column;
    }

    .add-daily-form h1 {
      width: 85%;
    }

    /* .month-chart {
      padding: 3vh 5vw;
      gap: 3% 3%;
    } */

    .month {
      flex: 0 0 calc(48.5% - 8px);
      font-size: 15px;
      /* margin-bottom: 3vh; */
    }

    #bulk-upload, #bulk-export {
      width: 93%;
    }

    .insight-flex {
      flex-direction: column;
    }

    .cat-average{
      flex: 0 0 calc(50% - 16px);
    }
  }
}

